:root {
  --accent: #bf50eb;
  --accent-light: #be82d6;
  --pure-white: #fff;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: #e7cdf1;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 60px 0;
}

.section-title {
  text-transform: uppercase;
  text-align: center;
}

.header {
  background-color: var(--accent);
}

header a {
  color: var(--pure-white);
  text-decoration: none;
}
.header-nav {
  min-height: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 20%;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 35px;
}
.header-logo img {
  width: 100%;
  height: 60%;
  object-fit: contain;
}
.header-menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}

.header-menu-link {
  text-transform: uppercase;
  padding: 15px;
  font-size: 16px;
  line-height: 16px;
  transition: background-color 0.3s;
}

.header-menu-link:hover {
  background-color: var(--accent-light);
}

.intro {
  padding: 60px 0;
}
.intro-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-left {
  width: 30%;
}
.intro-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 20%;
}

.intro-right {
  width: 60%;
}

.intro-right h1,
.intro-right h3 {
  margin: 0 0 10px;
}

.contacts {
  margin-bottom: 60px;
}

.contacts ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts li {
  text-align: center;
}

.skills,
.lang {
  color: var(--pure-white);
  background-color: var(--accent);
}

.skills ul,
.education ul,
.lang ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.skills li,
.education li,
.lang li {
  padding: 10px 25px;
  background-color: var(--accent-light);
  border-radius: 4px;
}

.code-example {
  text-align: center;
}

.code-example p {
  font-style: italic;
}

.code-example b {
  font-style: normal;
}

.code-example pre {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  font-size: 1.2em;
  color: var(--pure-white);
  background-color: var(--accent);
  border-radius: 8px;
}

.social-icons {
  text-align: center;
}
.social-icons li {
  display: inline-block;
  list-style-type: none;
}
.social-icons li a {
  border-bottom: none;
}
.social-icons li img {
  width: 30px;
  height: 30px;
  margin: 20px;
}
